<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Autos"></Label>
</ActionBar>
<StackLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf1b9;"></Label>
    <SearchForm (search) = "searchResult($event)"
    [inicial]="'Toyota'"></SearchForm>
    <ListView [items]="this.resultados" (itemTap)="onItemTapNews('/news/detalles')" class="list-group"
    style="height: 1250px;">
        <ng-template let-item="item" >
            <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
            <FlexboxLayout flexDirection="row" class="list-group-item">
                <Image src="res://icon" class="thumb img-circle"></Image>
                <Label [text]="item.marca" class="list-group-item-heading"
                verticalAlignment="center" style="width: 60%; font-size: 20px; " ></Label>
                <Button text="Eleiminar" (tap)="borrarAuto(item.id, item.marca)" class=" btn-danger"></Button>
            </FlexboxLayout>
        </ng-template>
    </ListView>
</StackLayout>
